
body {
  background-image: url(./images/home-mobile.png);

  /* background-repeat: repeat-y; */
  background-size: contain;
}

/* * {
    outline: 1px solid red;
} */

.head-intro {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ec5242;
}

.home-title {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.headline {
  padding: 5em 7% 7% 2em;
}

section {
  display: flex;
  flex-direction: column;
}

.head-titles {
  font-size: 2.5rem;
  font-weight: bold;
}

.head-img {
  position: absolute;
  top: 19%;
  left: 0;
  mix-blend-mode: lighten;
  height: 16%;
  width: 100%;
}

.head-info {
  font-size: 102%;
  background-color: var(--bs-gray-100);
  padding: 20px;
  border: 3px solid #fff;
}

.head-date {
  font-size: 1.5rem;
  font-weight: 700;
}

.head-address {
  font-size: 18px;
}

ul {
  list-style: none;
}

h4 {
  color: #ec5242;
  font-size: small;
}

.program-outline {
  display: flex;
  padding: 2%;
  background-color: var(--bs-gray-800);
  gap: 10px;
  align-items: center;
}

.outline {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.program {
  background-color: #272a31;
  padding-top: 30px;
}

.program-heading {
  color: #fff;
  align-self: center;
}

.line {
  align-self: center;
  width: 20%;
  font-size: medium;
  margin: 2px;
}

.subject {
  color: #ff5722;
  width: 60%;
  font-size: large;
}

.program-info {
  color: white;
  width: 200%;
}

[type=submit] {
  padding: 2em 3em;
  border: none;
  background-color: red;
  font-weight: 600;
  font-size: 16px;
  color: white;
  margin: 0 22% 10% 22%;
  cursor: pointer;
}

.speakers {
  background-color: white;
  padding-top: 20px;
}

.speakers-list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

li.speakers-details {
  display: flex;
  flex-direction: column;
}

.speakers-heading {
  align-self: center;
}

i {
  font-size: small;
}

h6 {
  font-size: 0.9rem;
}

.red {
  width: 20%;
  align-self: center;
  color: red;
}
